<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pending Orders</title>
  <%- include('partials/_head') %>
</head>

<body>


    <%- include('partials/_header') %>
    <div class="page-container">
      <div class="content-wrap">
        <div id="cart-admin">
        <div class="cart">
          <div class="top-cart">
            <h3 class="cart-head">Your Order</h3>
            <%- include('partials/_cartItems') %>
            <%- include('partials/_cartItems') %>
            <%- include('partials/_cartItems') %>
          </div>
          <form action="/admin" method="POST">
            <input type="number" class="wait-time" name="waitTime">
            <input type="submit" value="submit" class="sms">
          </form>
        </div>
        </div>
      </div>
        <%- include('partials/_footer') %>
    </div>



</body>
</html>
