<!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout</title>
  <%- include('partials/_head') %>
</head>
  <body>
    <%- include('partials/_header') %>
    <div class="page-container">
      <div class="content-wrap">
        <div class="cart">
          <div class="top-cart">
            <h3 class="cart-head">Your Order</h3>
            <%- include('partials/_cartItems') %>
            <%- include('partials/_cartItems') %>
            <%- include('partials/_cartItems') %>
          </div>
            <a href="/order-sent" id="sms-button" class="checkout-btn"><span class="order-btn">Confirm Order</span><span class="total-price">$X.XX</span></a>
        </div>
      </div>
        <%- include('partials/_footer') %>
    </div>

  </body>
</html>
