<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

<<<<<<< HEAD
  <body>
    <%- include('partials/_header') %>
    <!-- <%- include('partials/_footer') %> -->

   <main>
     <div class="menu-items">
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
        <%- include('partials/_menu-item') %>
     </div>
     <div class="cart">
      <h1>This is the cart view.</h1>
      <a href="/cart" class="checkout-btn">Proceed to Checkout</a>
      <button class="sms-button">Click Meeeeee!</button>
      <form action="">
        <input type="number" class="wait-time">
        <input type="submit" value="submit" class="sms">
      </form>
     </div>
   </main>

   <%- include('partials/_footer') %>
  <!-- <aside>
    This is where the cart will be.
  </aside> -->

  </body>
=======
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="icon" href="images/taco-favicon.png">
  <!-- imported fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Medula+One&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,800&display=swap" rel="stylesheet">
  <!--Font awesome-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="module" src="/scripts/sms.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <!-- <%- include('partials/_footer') %> -->
  <main>
    <% if(menu_items) { %>
    <h1> Appetizers </h1>
    <% for(const menu_item in menu_items) { %>
    <% if(menu_items[menu_item]["menu_category_id"]===1) { %>
    <article>
      <header>
        <h3><%= menu_items[menu_item]["name"] %></h3>
        <p><%= menu_items[menu_item]["description"] %></p>
        <p id="price"><%= menu_items[menu_item]["price"] %></p>
      </header>
      <img src="images/taco1.png" alt="">
    </article>
    <% }%>
    <% }%>

    <h1> Beverages </h1>
    <% for(const menu_item in menu_items) { %>
    <% if(menu_items[menu_item]["menu_category_id"]===2) { %>
    <article>
      <header>
        <h3><%= menu_items[menu_item]["name"] %></h3>
        <p><%= menu_items[menu_item]["description"] %></p>
        <p id="price"><%= menu_items[menu_item]["price"] %></p>
      </header>
      <img src="images/taco1.png" alt="">
    </article>
    <% }%>
    <% }%>
    <h1> Entres </h1>
    <% for(const menu_item in menu_items) { %>
    <% if(menu_items[menu_item]["menu_category_id"]===3) { %>
    <article>
      <header>
        <h3><%= menu_items[menu_item]["name"] %></h3>
        <p><%= menu_items[menu_item]["description"] %></p>
        <p id="price"><%= menu_items[menu_item]["price"] %></p>
      </header>
      <img src="images/taco1.png" alt="">
    </article>
    <% }%>
    <% }%>

    <h1> Desserts </h1>
    <% for(const menu_item in menu_items) { %>
    <% if(menu_items[menu_item]["menu_category_id"]===4) { %>
    <article>
      <header>
        <h3><%= menu_items[menu_item]["name"] %></h3>
        <p><%= menu_items[menu_item]["description"] %></p>
        <p id="price"><%= menu_items[menu_item]["price"] %></p>
      </header>
      <img src="images/taco1.png" alt="">
    </article>
    <% }%>
    <% }%>
    <% }%>

  </main>
  <%- include('partials/_footer') %>
  <!-- <aside>
    This is where the cart will be.
  </aside> -->
  <button class="sms-button">Click Meeeeee!</button>
  <form action="">
    <input type="number" class="wait-time">
    <input type="submit" value="submit" class="sms">
  </form>
</body>

>>>>>>> e6f243b1cbe17d73a299b13ad1469e60c044b2fb
</html>
