<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="icon" href="images/taco-favicon.png">
  <!-- imported fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Medula+One&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,800&display=swap" rel="stylesheet">
  <!--Font awesome-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="page-container">
    <div class="content-wrap">
      <main>
        <div id="all-menu-items">
          <article>
            <header>
              <h3>Menu Item</h3>
              <p>This is the menu item description. Here are the
                ingredients one, two and three. </p>
              <p id="price">$9.99</p>
              <button class="add-item-btn">Add item</button>
            </header>
            <img src="images/taco1.png" alt="">
          </article>

          <% if(menu_items) { %>
            <!-- <h1> Appetizers </h1> -->
            <% for(const menu_item in menu_items) { %>
            <% if(menu_items[menu_item]["menu_category_id"]===1) { %>
            <article>
              <header>
                <h3><%= menu_items[menu_item]["name"] %></h3>
                <p><%= menu_items[menu_item]["description"] %></p>
                <p id="price"><%= menu_items[menu_item]["price"] %></p>
                <button class="add-item-btn">Add item</button>
              </header>
              <img src="<%= menu_items[menu_item].image_url %>" alt="">
            </article>
            <% }%>
            <% }%>

            <!-- <h1> Beverages </h1> -->
            <% for(const menu_item in menu_items) { %>
            <% if(menu_items[menu_item]["menu_category_id"]===2) { %>
            <article>
              <header>
                <h3><%= menu_items[menu_item]["name"] %></h3>
                <p><%= menu_items[menu_item]["description"] %></p>
                <p id="price"><%= menu_items[menu_item]["price"] %></p>
              </header>
              <img src="<%= menu_items[menu_item].image_url %>" alt="">
            </article>
            <% }%>
            <% }%>
            <!-- <h1> Entres </h1> -->
            <% for(const menu_item in menu_items) { %>
            <% if(menu_items[menu_item]["menu_category_id"]===3) { %>
            <article>
              <header>
                <h3><%= menu_items[menu_item]["name"] %></h3>
                <p><%= menu_items[menu_item]["description"] %></p>
                <p id="price"><%= menu_items[menu_item]["price"] %></p>
              </header>
              <img src="<%= menu_items[menu_item].image_url %>" alt="">
            </article>
            <% }%>
            <% }%>

            <!-- <h1> Desserts </h1> -->
            <% for(const menu_item in menu_items) { %>
            <% if(menu_items[menu_item]["menu_category_id"]===4) { %>
            <article>
              <header>
                <h3><%= menu_items[menu_item]["name"] %></h3>
                <p><%= menu_items[menu_item]["description"] %></p>
                <p id="price"><%= menu_items[menu_item]["price"] %></p>
              </header>
              <img src="<%= menu_items[menu_item].image_url %>" alt="">
            </article>
            <% }%>
            <% }%>
            <% }%>
        </div>
        <div class="cart">
          <div class="top-cart">
            <h3 class="cart-head">Your Order</h3>
            <%- include('partials/_cartItems') %>
            <%- include('partials/_cartItems') %>
            <%- include('partials/_cartItems') %>
          </div>
            <a href="/checkout" class="checkout-btn"><span class="order-btn">Checkout</span><span class="total-price">$X.XX</span></a>
        </div>
      </main>
    </div>
    <%- include('partials/_footer') %>

  </div>



</body>

</html>
